.layout {
    display: flex;
    width: 100%;
    height: 100%;

    &__content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: 10px;

        max-width: min(calc(100% - 230px), 1920px);
        margin-inline: auto;
        padding: 20px 10px;

        &_outlet {
            overflow: auto;

            height: 100vh;
            border: 1px solid var(--mantine-color-backgroundStroke-0);
            border-radius: 8px;

            background: var(--mantine-color-backgroundBasic-0);
        }
    }
}
