.modal-confirm {
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__question {
        margin-bottom: 20px;

        font-size: 18px;
        font-weight: 600;
        color: var(--mantine-color-white-0);
        text-align: center;
    }

    &__actions {
        display: flex;
        gap: 25px;
        justify-content: center;
        margin-bottom: 20px;
    }
}
