.edit-user-page {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;

    &__title {
        font-size: 1.5rem;
        color: var(--mantine-color-white-0);
    }

    &__content {
        display: flex;
        gap: 30px;

        &_left {
            flex-grow: 1;
        }
    }
}
