.settingBtn {
    padding: 0 6px;
}

.dropdown-menu {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;

    max-height: 200px;
    padding: 10px 12px;

    &__row {
        display: flex;
        gap: 8px;
        align-items: center;
        padding: 8px 0;
    }
}
