.table {
    thead {
        margin-bottom: 100px;
        border-block: 1px solid var(--mantine-color-backgroundStroke-0);
        font-size: 16px;
        background: var(--mantine-color-backgroundBasic-0);

        > tr {
            > th {
                padding: 8px 5px;

                font-weight: 700;
                color: var(--mantine-color-white-0);
                text-align: center;
                text-wrap: nowrap;
            }
        }
    }

    tbody {
        background: transparent;

        > tr {
            border-bottom: 2px solid var(--mantine-color-backgroundBasic-0);
            background: var(--mantine-color-backgroundStroke-0);
            transition: background 0.2s;

            &:hover {
                cursor: pointer;
                background: var(--mantine-color-backgroundHover-0);
            }

            > td {
                position: relative;

                padding: 5px;

                font-size: 16px;
                font-weight: 500;
                color: var(--mantine-color-white-0);
                text-align: center;
                text-wrap: nowrap;

                &:first-child {
                    border-radius: 8px 0 0 8px;
                }

                &:last-child {
                    border-radius: 0 8px 8px 0;
                }

                &:not(:last-child)::after {
                    content: "";

                    position: absolute;
                    top: 8px;
                    right: 0;

                    width: 1px;
                    height: calc(100% - 16px);
                    border-left: 1px solid var(--mantine-color-gray-0);
                    border-radius: 8px;

                    background: var(--mantine-color-gray-0);
                }
            }
        }
    }
}
