.table-with-actions-body {
    &__row {
        &_separator {
            display: block;
            padding: 6px;
            background: transparent !important;
        }
    }

    &__column {
        &_action {
            display: flex;
            gap: 5px;
            justify-content: end;
            padding-right: 15px;
        }
    }

    &__no-data {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;

        font-size: 24px;
        font-weight: 600;
    }
}
